.cargo-remote.toml
.direnv/
.DS_Store
.env*
.idea
.local
.lycheecache
.vscode
.zed
.wasm-binaries
*.adoc
*.bin
*.iml
*.orig
*.rej
*.swp
*.wasm
**/._*
**/.criterion/
**/*.rs.bk
**/hfuzz_target/
**/hfuzz_workspace/
**/node_modules
**/target/
**/wip/*.stderr
**/__pycache__/
/.cargo/config
/.envrc
artifacts
nohup.out
rls*.log
runtime/wasm/target/
substrate.code-workspace
target/
*.scale
rustc-ice-*
/.claude/settings.local.json
*.local.md
